/**
  Home Page Template
  ---------------------------------------------------------------------- */
.page-template-page-home {
  #content {
    padding-top: 12rem;
  }
}

.intro-content {
  padding: 0 7vw 3vw 7vw;
  color: $gold;
  font-weight: $font-semi;
  font-size: 0.85rem;

  a {
    color: $gold;
    font-style: $font-italic;
    font-weight: $font-bold;
  }
}

.logo-home {
  height: 2rem;
  opacity: 0;

  @include transition(all 750ms ease);

  &.is-scrolled {
    opacity: 1;
    height: 4rem;
  }
}

.logo-home-large {
  height: 10rem;
  width: auto;
  display: none;
  position: absolute;
  left: 2vw;
  top: 1rem;

  @include transition();
}

#header.header-home {
  height: 12rem;

  .logo-home-large {
    display: block;
  }

  &.is-scrolled {
    height: 6rem;

    .logo-home-large {
      opacity: 0;
    }
  }
}

@media (max-width: 1024px) {
  .logo-home,
  .logo-home.is-scrolled {
    height: 3rem;
    opacity: 1;
  }

  .page-template-page-home #content {
    padding-top: 4rem;
  }

  #header.header-home {
    height: 4rem !important;
  }

  .logo-home-large {
    display: none !important;
  }

  .intro-content {
    font-weight: $font-light;

    strong,
    a {
      font-weight: $font-semi;
    }
  }
}

@media (max-width: 768px) {
  .intro-content {
    width: 100%;
    padding: 2vw;
  }
}

@media (max-width: 767px) {
  .home .module-slideshow {
    margin-bottom: 4vw;
  }

  .intro-content {
    padding: 4vw;
  }
}
