/**
  Home Page Template
  ---------------------------------------------------------------------- */
.slideshow-logo-wrap {
  @include grid(center, center);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideshow-logo {
  height: 24vw;
}

.page-template-page-home {
  .module-slideshow-slide {
    height: 30vw;
  }

  #content {
    padding-top: 4rem;
  }
}

.intro-content {
  padding: 0 7vw 3vw 7vw;
  color: $gold;
  font-weight: $font-semi;
  font-size: 0.85rem;

  a {
    color: $gold;
    font-style: $font-italic;
    font-weight: $font-bold;
  }
}

.logo-home {
  height: 2rem;
  opacity: 0;

  @include transition(all 750ms ease);

  &.is-scrolled {
    opacity: 1;
    height: 4rem;
  }
}
