.header-collection {
  width: 100%;
  height: 20vw;
  background-size: cover;
  background-position: center center;

  span {
    display: none;
  }
}

.collection-more {
  padding: 4vw 0;

  h2 {
    text-align: center;
  }

  nav {
    @include grid(center, stretch, row, wrap);

    a {
      text-align: center;
      width: 15%;
      margin: 2.5%;

      @include transition();
      @include grid(space-between, center, column);

      &.is-current {
        opacity: 0.4;
      }

      &:hover {
        transform: scale(0.99);
        opacity: 0.9;
      }

      img {
        margin: auto 0;
        padding-bottom: 1em;
      }
    }
  }

  span,
  i {
    display: block;
    line-height: 1.75;
  }

  span {
    font-weight: $font-bold;
    color: $gold;
  }

  i {
    font-style: $font-light;
    font-weight: $font-light;
    color: $black;
  }

  br {
    display: none;
  }
}

@media (max-width: 1024px) {
  .collection-more {
    font-size: 0.85rem;

    nav a {
      width: 20%;
    }
  }
}
