.module-awards {
  padding: 4vw 0 2vw 0;
}

.module-awards-list {
  @include listStripped();
  @include grid(center, stretch, row, wrap);

  img {
    height: 6em;
    width: auto;
    margin: 2em 0;

    @include transition();
  }

  li {
    @include grid(center, center, column);

    width: 20vw;
    margin: 5vw;
    border: 2px solid $gold-trans;
    padding: 2em;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  h2 {
    font-size: 1.15em;
    font-style: $font-italic;
    font-weight: $font-light;
    margin: 0;
    padding: 0;
    line-height: 2em;

    &::after {
      display: none;
    }
  }

  h3 {
    font-size: 1.5em;
    font-weight: $font-semi;
    margin: 0;
    padding: 0;
    line-height: 2em;
  }

  h4 {
    font-size: 1.15em;
    color: $gold;
    margin: 0;
    padding: 0;
    font-weight: $font-light;
    line-height: 2em;
  }
}

@media (max-width: 1024px) {
  .module-awards-list li {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .module-awards-list li {
    width: 90vw;
    margin: 2.5vw 5vw;
  }
}

@media (max-width: 767px) {
  .module-awards-list li {
    font-size: 0.85rem;
  }
}
