.module-columns {
  background-color: $black;
  padding: 4vw 0 3vw;
  color: $white;
}

.module-columns-row {
  @include listStripped();
  @include grid(space-between);

  & > li {
    flex: 1 0 0;
    padding: 2vw;

    & > h2 {
      text-align: center;
      font-size: 1.25em;
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.module-columns-content {
  font-size: 0.85em;

  & > * {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .module-columns {
    font-size: 0.85rem;
  }
}

@media (max-width: 768px) {
  .module-columns-row {
    @include grid(space-between, center, row, wrap);

    & > li {
      width: 50%;
      min-width: 50%;
      flex: none;
      padding: 2vw !important;
    }
  }
}

@media (max-width: 767px) {
  .module-columns-row > li {
    width: 100% !important;
  }
}
