/**
  General Gallery Display
  ---------------------------------------------------------------------- */
.module-gallery {
  border-top: 2px solid $black;
  padding: 4vw 0;
}

.gallery-title,
.gallery-caption {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: $white;
  opacity: 0;

  @include transition();

  transition-delay: 250ms;
}

.gallery-title {
  top: calc(50% - 1rem);
  transform: translateY(-100%);
}

.gallery-caption {
  top: calc(50% + 1rem);
  transform: translateY(100%);
}

.module-gallery-items {
  @include listStripped();
  @include grid(center, center, row, wrap);

  li {
    position: relative;
    width: 30%;
    padding-top: 30%;
    margin: 1.5%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      opacity: 0;
      z-index: 0;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $gold-trans;

      @include transition(all 500ms ease);
    }

    &:hover {
      .gallery-title,
      .gallery-caption {
        transform: translateY(0);
        opacity: 1;
      }

      &::before {
        opacity: 1;
      }
    }
  }
}

/**
  Gallery Overlay
  ---------------------------------------------------------------------- */
.module-gallery-overlay {
  @include grid(center, center);

  position: fixed;
  z-index: 998;
  bottom: 0;
  left: 0;
  background-color: $white;
  width: 100%;
  height: calc(100vh - 7rem);
}

.module-gallery-overlay-image {
  width: 50%;
  height: 100%;
  background-image: url('../images/throbber-augusto.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.module-gallery-overlay-info {
  width: 40%;

  h1 {
    line-height: 1.5;
    display: block;
    margin: 0;
    padding: 0;
  }

  h2 {
    line-height: 1.5;
    margin: 0;
    font-size: 1.5rem;
    font-weight: $font-light;

    &::after {
      display: none;
    }
  }

  h3 {
    color: $gold;
    font-size: 1.15rem;
    margin: 2em 0;
  }
}

.module-gallery-overlay-slider {
  width: 10%;
}
