.module-testimonials {
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
  background-image: linear-gradient(to right, transparentize($white, 1), $white);

  .slick-track {
    background-color: transparent;
  }

  .slick-dots {
    @include listStripped();
    @include grid(center, center);

    position: absolute;
    display: flex !important;
    width: 100%;
    right: 0;
    bottom: 2rem;

    button {
      width: 1em;
      height: 1em;
      padding: 0;
      margin: 0.25em;
      border: 2px solid $black;
      border-radius: 50%;
      color: transparent;
      background-color: transparent;

      @include transition();
    }
  }

  li.slick-active button {
    background-color: $black;
  }
}

.module-testimonial {
  @include grid(center, center);

  height: 40vw;
  display: flex !important;

  blockquote {
    margin: 0;
    padding: 2vw;

    &::before {
      display: none;
    }
  }

  q {
    display: block;
    font-size: 1.75em;
    line-height: 1.5;
    font-weight: $font-light;
    text-align: right;
  }

  cite {
    display: block;
    font-style: normal;
    text-align: right;
  }

  h2 {
    @include grid(flex-end, center);

    width: auto;
    color: $gold;
    font-size: 1.25em;
    margin: 2em 0 1.5em 0;
    font-weight: $font-semi;

    &::after {
      display: none;
    }

    &::before {
      content: '';
      display: block;
      width: 1em;
      height: 2px;
      background-color: $gold;
      margin-right: 0.5em;
    }
  }

  h3 {
    color: $gold;
    font-weight: $font-semi;
    padding: 0;
    margin: 0;
    font-size: 1.15em;
    line-height: 1.25;
  }

  h4 {
    font-weight: $font-light;
    font-style: $font-italic;
    margin: 0;
    padding: 0;
    font-size: 1.15em;
    line-height: 1.25;
  }
}

@media (max-width: 1200px) {
  .module-testimonial {
    font-size: 0.6rem;
  }
}

@media (max-width: 1024px) {
  .module-content {
    font-size: 0.85rem;
  }
}

@media (max-width: 768px) {
  .module-testimonials {
    position: static;
    width: 100%;

    .slick-track {
      height: auto !important;
    }
  }

  .module-testimonial {
    height: auto;
    padding: 0 2vw;

    blockquote {
      padding: 4vw 0 6rem 0;
    }

    q,
    cite {
      text-align: center;
    }

    h2 {
      @include grid(center, center);
    }
  }
}

@media (max-width: 767px) {
  .module-testimonial {
    padding: 4vw;

    blockquote {
      padding-bottom: 4rem;
    }
  }
}
