/**
  Global Website Header
  ---------------------------------------------------------------------- */
.nav-header {
  @include navMenu(dropdown);

  margin-left: auto;
  font-weight: $font-light;

  li a {
    color: $gold;
    padding: 0 1.15rem;

    @include transition();

    &:hover {
      color: $black;
    }
  }

  .sub-menu {
    background-color: $grey;
    font-size: 1rem;

    li a {
      padding: 0.75rem 1rem;

      @include transition();

      &:hover {
        background-color: $white;
      }
    }
  }

  li.current-menu-item {
    font-weight: $font-semi;
  }
}

#header {
  @include grid(space-between, center);

  padding: 1rem 2vw;
  background-color: $grey;

  .nav-social {
    ul {
      @include listStripped();
      @include grid(center, center);

      li:last-of-type {
        margin-right: 0;
      }
    }

    a {
      display: block;
      padding: 1rem;

      @include transition();

      &:hover {
        transform: scale(1.25);
      }
    }

    img {
      display: block;
      height: 1.25rem;
    }

    span {
      display: none;
    }
  }
}

.logo-header {
  display: block;
  height: 4rem;
  width: auto;
}

#responsive-nav-toggle {
  display: none;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  #responsive-nav-toggle {
    display: block;
  }
}
