/**
  Global Website Header
  ---------------------------------------------------------------------- */
.nav-header {
  @include navMenu(dropdown);

  margin-left: auto;
  font-weight: $font-light;

  li a {
    color: $gold;
    padding: 0 1.15rem;

    @include transition();

    &:hover {
      color: $black;
    }
  }

  li.current-menu-item {
    font-weight: $font-semi;
  }

  li.current-menu-parent > a {
    font-weight: $font-semi;
  }

  .sub-menu {
    background-color: $grey;
    font-size: 0.85rem;

    li a {
      padding: 0.75em 1.25rem;

      @include transition();

      &:hover {
        background-color: $white;
      }
    }
  }
}

#header {
  @include grid(space-between, center);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 1rem 2vw;
  background-color: $grey;

  .nav-social {
    ul {
      @include listStripped();
      @include grid(center, center);

      li:last-of-type {
        margin-right: 0;
      }
    }

    a {
      display: block;
      padding: 1rem;
      width: 3.15rem;
      height: 3.15rem;
      border-radius: 50%;
      transform: scale(1) rotate(0);
      transform-style: preserve-3d;

      @include transition();

      &:hover {
        transform: scale(1.1) rotate(0.02deg);
      }
    }

    img {
      height: 1.15rem;
      display: block;
      margin: 0 auto;
    }

    span {
      display: none;
    }
  }
}

.logo-header {
  display: block;
  height: 4rem;
  width: auto;
}

#responsive-nav-toggle {
  @include hamburgerMenu(12, $black, 0.5);

  display: none;
  margin-right: 1rem;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  #header {
    padding: 0.5rem;
  }

  .nav-header,
  #header .nav-social {
    display: none;
  }

  .logo-header {
    height: 3rem;
  }

  #responsive-nav-toggle {
    display: block;
  }
}
